# mongodb user and pwd
MONGODB_USER=name-of-your-mongodb-user
MONGODB_PASSWORD=pwd-of-your-mongodb-user
MONGODB_URI=uri-of-your-mongodb-instance (get from mongodb atlas)
MONGODB_DB_NAME=name-of-your-mongodb-database

# vector search configs
MEMORIES_VECTOR_INDEX_NAME=your-vector-index-name
MEMORIES_VECTOR_PATH=path-to-your-vector-file

# openrouter api key
OPENROUTER_API_KEY=your-openrouter-api-key

# gemini api key
GEMINI_API_KEY=

# anthropic api key
ANTHROPIC_API_KEY=

# model / embedding name
LLM_NAME=your-model-choice
EMBEDDING_MODEL_NAME=your-embedding-model-choice
BASE_URL=your-base-url-for-openrouter-api
